.datacard {
  width: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.cardtitle {
  padding-left: 1.25rem;
  padding-top: 0.9rem;
  font-weight: bold;
}
.container {
  padding-top: 5px;
}

.cardBody {
  display: flex;
  flex-direction: row;
}

.cardColRight,
.cardColLeft {
  flex-grow: 1;
}

.cardColRight {
  text-align: right;
}
.cardColLeft {
  text-align: left;
}

.cardColRight span {
  padding-left: 10px;
}
